$color-org: #f6bcb5;
$colorf: #fff;
$color9: #999;
$color6: #666;
$color3: #333;
$color0: #000;
$colorfa: #fafafa;

@media (max-width: 767px) {
  body {
    font-size: 13px;
  }

  .fon32 {
    font-size: 26px;
  }

  .fon30 {
    font-size: 24px;
  }

  .fon26 {
    font-size: 17px;
  }

  .fon24 {
    font-size: 18px;
  }

  .fon22 {
    font-size: 16px;
  }

  .fon20 {
    font-size: 16px;
  }

  .fon18 {
    font-size: 15px;
  }

  .fon16 {
    font-size: 14px;
  }

  

}